@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #DF645F, #EDA4A1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #DB524D;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #541C1F;
    text-align: center;
    text-shadow: 1px 1px 2px #911511be;
}

h2 {
    color: #DB524D;
}

p {
    text-align: justify;
}